.content-left{
	width: 34%;
	height: auto;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.content-right{
	width: 60%;
	height: auto;
	float: left;
}

.content-right a{
	color: #454545;
}

.content-right a:hover{
	cursor: pointer;
	color: #454545;
}

.sort{
	width: 50%;
	line-height: 1.2em;
	border-left: 3px solid #9AC0CD ;
	margin-left: 0.5em;
	margin-top: 2em;
	margin-bottom: 1em;
	padding-left: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
    float:left;
	clear: both;
	color: #00C2EA;
}

.isLikeButton{
	width: 50%;
	margin-left:50%;
}

.collectBox {
    width: 3em;
    height: auto;
    float: left;
    margin-left: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.likeBox {
    width: 26%;
    height: auto;
    float: left;
    margin-left: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
input:focus { outline: none; }
.unlikeBox {
    width: 30%;
    height: auto;
    float: left;
    margin-left: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.like_count,.unlike_count{
    float:left;
    padding-left:0.5em;
    padding-right:0.5em;
}

.like_count:hover, .unlike_count:hover {
    cursor:pointer;
}

.isLikeButton_like {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: #E0FFFF;
    border: none;
    background: url(../images/image/ic_vote_normal.png) no-repeat;
}


.isLikeButton_dislike {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: white;
    border: none;
    background: url(../images/image/ic_vote_down_normal.png) no-repeat;
}
.isLikeButton_like_checked {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: #E0FFFF;
    border: none;
    background: url(../images/image/ic_vote_checked.png) no-repeat;
}


.isLikeButton_dislike_checked {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: white;
    border: none;
    background: url(../images/image/ic_vote_down_checked.png) no-repeat;
}

.star_bg {
    width: 120px; height: 20px;
    background: url(star.png) repeat-x;
    position: relative;
    overflow: hidden;
}
.star {
    height: 100%; width: 24px;
    line-height: 6em;
    position: absolute;
    z-index: 3;
}
.star:hover {    
    background: url(star.png) repeat-x 0 -20px!important;
    left: 0; z-index: 2;
}
.star_1 { left: 0; }
.star_2 { left: 24px; }
.star_3 { left: 48px; }
.star_4 { left: 72px; }
.star_5 { left: 96px; }
.star_1:hover { width: 24px; }
.star_2:hover { width: 48px; }
.star_3:hover { width: 72px; }
.star_4:hover { width: 96px; }
.star_5:hover { width: 120px; }

label { 
    display: block; _display:inline;
    height: 100%; width: 100%;
    cursor: pointer;
}

/* 幕后的英雄，单选按钮 */
.score { position: absolute; clip: rect(0 0 0 0); }
.score:checked + .star {    
    background: url(star.png) repeat-x 0 -20px;
    left: 0; z-index: 1;
}
.score_1:checked ~ .star_1 { width: 24px; }
.score_2:checked ~ .star_2 { width: 48px; }
.score_3:checked ~ .star_3 { width: 72px; }
.score_4:checked ~ .star_4 { width: 96px; }
.score_5:checked ~ .star_5 { width: 120px; }

.star_bg:hover .star {  background-image: none; }

/* for IE6-IE8 JS 交互 */
.star_checked {    
    background: url(star.png) repeat-x 0 -20px;
    left: 0; z-index: 1;
}