.btn-a:link {color: white} /* 未被访问的链接*/
.btn-a:visited {color: white} /* 已被访问过的链接*/
.btn-a:hover {color: #EECFA1} /* 鼠标悬浮在上的链接*/
.btn-a:active {color: white} /*鼠标点中激活链接*/

/*
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s; 
*/

