.meeting{
	width: 100%;
	padding-top: 0.5em;
}

.meeting-title{
	color: #262b31;
	width: 100%;
	height: 3em;
	text-align: center;
}

.meeting-title h{
	font-size: 1.5em;
	color: #262b31;
}

.meeting-body{
	width: 100%;
	min-height: 4em;
	height: auto;
}

.meeting-message{
	width: 100%;
	font-size: 1.2em;
	color: #262b31;
	padding-top: 0.2em;
	padding-bottom: 0.4em;
	font-family:"Microsoft Yahei";
}

.meeting-message span{
	font-size: 1.1em;
	color: #262b31;
	font-family:"Microsoft Yahei" ! important;
}
